<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('./partials/head') %>
</head>

<body>
	<!-- Header -->
	<header class="main-header">
		<% if (locals.user != undefined) { %>
  
			<%- include('./partials/headerLogueado') %>
		
		  <% } else { %>
			 
			<%- include('./partials/header') %>
		
		  <% } %>
	</header>
	<!-- /Header -->
	
	<figure class="product-box_image">
		<img src="images/products/<%= Product.imagen %>" alt="<%= Product.titulo  %>">
	</figure>
	<article class="product-box_data">
		<h2><%= Product.titulo %></h2>
		<p><%= Product.descripcion%></p>
	
		
	</article>
	


























   <!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer') %>
	</footer>
	<!-- /footer -->
</body>	
</html>