<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('./partials/head') %>
</head>

<body>
	<!-- Header -->
	<header class="main-header">
		<% if (locals.user != undefined) { %>
  
			<%- include('./partials/headerLogueado') %>
		
		  <% } else { %>
			 
			<%- include('./partials/header') %>
		
		  <% } %>
	</header>
	<!-- /Header -->
	<section class="product-box">
	<figure class="product-box_image">
		<img src="images/products/<%= Product.imagen %>" alt="<%= Product.titulo  %>">
	</figure>
	<article class="product-box_data">
		<h2><%= Product.titulo %></h2>
		

	
		
	</article>
	
   </section>

<div><h2><%= Product.descripcion%></h2></div>
<div><h2>Producto Cargado Por: <%= Product.user_id %></h2></div>























   <!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer') %>
	</footer>
	<!-- /footer -->
</body>	
</html>