<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>
<body>
		
	<% if (locals.user != undefined) { %>
	  
	<%- include('./partials/headerLogueado') %>
		  <% } else { %>
		 <%- include('./partials/header') %>
	<% } %>

	<% for( let i = 0; i < results.length; i++ ) { %>
		<div>
			<section>
				<a href="">
					<img src="<%= results[i].image %>" alt="<%= results[i].title %>">
					<h2><%= results[i].title %></h2>
					<p><%= results[i].description %></p>
				</a>
			</section>
		</div>
	<% } %>


	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer') %>
	</footer>
	<!-- /footer -->
</body>

</html>